# Inspired by https://github.com/rust-analyzer/rust-analyzer/blob/master/.github/workflows/ci.yaml
# but tweaked in several ways.  If you make changes here, consider doing so across other
# repositories in e.g. ostreedev etc.
name: CI

permissions:
  actions: read

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

env:
  CARGO_TERM_COLOR: always
  ACTIONS_LINTS_TOOLCHAIN: 1.78.0

jobs:
  build-test:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2
      - name: Compile (no features)
        run: cargo test --no-run
      - name: Compile (all features)
        run: cargo test --no-run --all-features
      - name: Test
        run: cargo test --all-features -- --nocapture --quiet
      - name: Install
        run: cargo install --path . --debug
      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: cargo-vendor-filterer
          path: target/debug/cargo-vendor-filterer
  build-test-other:
    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2
      - name: Compile (no features)
        run: cargo test --no-run
      - name: Compile (all features)
        run: cargo test --no-run --all-features
      - name: Test
        run: cargo test --all-features -- --nocapture --quiet
  clippy:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@v1
        with:
          toolchain: ${{ env.ACTIONS_LINTS_TOOLCHAIN }}
          components: clippy
      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v2
      - name: Clippy
        run: cargo clippy -- -D warnings
  # Verify that we can successfully vendor selected crates
  test-crates:
    runs-on: ubuntu-24.04
    needs: build-test
    strategy:
      matrix:
        repo:
          - nushell/nushell
          - containers/netavark
        include:
          - repo: nushell/nushell
            tag: 0.91.0
            args: "-F plugin -F system-clipboard -F default-no-clipboard"
          - repo: containers/netavark
            tag: v1.8.0
            args: "-F deps-serde"
    steps:
      - name: Download binary
        uses: actions/download-artifact@v4
        with:
          name: cargo-vendor-filterer
      - run: sudo install -m 0755 cargo-vendor-filterer /usr/bin
      - uses: actions/checkout@v4
        with:
          repository: ${{ matrix.repo }}
          ref: ${{ matrix.tag }}
      # For netavark
      - run: sudo apt install protobuf-compiler
      - run: |
          mkdir -p .cargo && cargo-vendor-filterer --platform x86_64-unknown-linux-gnu --all-features > .cargo/config.toml
          rm -rf vendor
          cargo-vendor-filterer --platform x86_64-unknown-linux-gnu --no-default-features > .cargo/config.toml
          rm -rf vendor
          cargo-vendor-filterer --platform x86_64-unknown-linux-gnu --no-default-features ${{ matrix.args }} > .cargo/config.toml
      # This runs without networking, verifying we're building using vendored deps
      - run: rm ~/.cargo/{registry,git} -rf && unshare -Umn --propagation=unchanged cargo check --offline
